{
  "openapi": "3.0.0",
  "info": {
    "title": "BonResto API",
    "version": "1.0.0",
    "description": "Beheer reserveringen en controleer beschikbaarheid voor BonResto restaurants.",
    "contact": {
      "name": "BonResto Support",
      "email": "support@besdirect.nl"
    }
  },
  "servers": [
    {
      "url": "https://api.bonresto.nl",
      "description": "Productie Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Reservation": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "res_98765" },
          "customer_name": { "type": "string", "example": "Bas de Groot" },
          "date": { "type": "string", "format": "date", "example": "2024-12-25" },
          "guests": { "type": "integer", "example": 4 }
        }
      }
    }
  },
  "security": [{ "BearerAuth": [] }],
  "tags": [
    { "name": "System", "description": "Status en connectiviteit" },
    { "name": "Reservations", "description": "Beheer restaurant reserveringen" }
  ],
  "paths": {
    "/connect": {
      "get": {
        "tags": ["System"],
        "summary": "Verbinding Testen",
        "operationId": "checkConnection",
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/availability": {
      "get": {
        "tags": ["Reservations"],
        "summary": "Check Beschikbaarheid",
        "description": "Controleer of er tafels vrij zijn op een specifieke datum.",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date" },
            "example": "2024-12-25"
          },
          {
            "name": "guests",
            "in": "query",
            "schema": { "type": "integer" },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Lijst met beschikbare tijdsloten",
            "content": {
              "application/json": {
                "example": { "available_slots": ["18:00", "19:00", "20:30"] }
              }
            }
          }
        }
      }
    },
    "/reservations": {
      "post": {
        "tags": ["Reservations"],
        "summary": "Nieuwe Reservering",
        "description": "Maak direct een nieuwe boeking aan in het systeem.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customer_name", "date", "time", "guests"],
                "properties": {
                  "customer_name": { "type": "string", "example": "Bas de Groot" },
                  "email": { "type": "string", "example": "bas@email.nl" },
                  "date": { "type": "string", "example": "2024-12-25" },
                  "time": { "type": "string", "example": "19:00" },
                  "guests": { "type": "integer", "example": 4 }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reservering aangemaakt",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reservation" }
              }
            }
          }
        }
      }
    }
  }
}
