{
  "openapi": "3.0.0",
  "info": {
    "title": "BonResto API",
    "version": "1.0.0",
    "description": "Welcome to the BonResto API documentation.\n\nUse this API to manage restaurant integrations, test connectivity, and sync data.\n\n### Authentication\nAll endpoints require a `Bearer Token`. Include this in your header:\n`Authorization: Bearer YOUR_API_KEY`"
  },
  "servers": [
    {
      "url": "https://api.bonresto.nl",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "message": {
            "type": "string",
            "example": "Connection valid"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid API Key"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Endpoints for system status and connectivity."
    }
  ],
  "paths": {
    "/connect": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Test Connection",
        "description": "Verifies if the provided API Key is valid and the BonResto server is reachable.",
        "operationId": "checkConnection",
        "responses": {
          "200": {
            "description": "OK - Connection successful and API key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The API key is invalid or missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
